body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Calibri", sans-serif;
  position: relative; /* Añade posición relativa para que los elementos hijos usen posición absoluta correctamente */
}

h1 {
  font-size: 500%;
}

.container {
  text-align: center;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #152B4F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

/* Estilos para el botón de control de audio */
.audio-control {
  position: absolute;
  top: 20px;
  right: 20px;
}

.audio-control-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.audio-control-button .icon {
  margin-right: 5px;
}

.audio-control-button:hover {
  background-color: #555;
}

.fade-out {
  transition: volume 1.5s ease; /* Duración y efecto de transición */
  volume: 1; /* Volumen inicial */
}

.fade-out.fade-out-active {
  volume: 0; /* Volumen final (0) */
}